@import url("https://fonts.googleapis.com/css?family=Raleway:900");
@import url("https://fonts.googleapis.com/css?family=Roboto:400");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-image: url(https://images.unsplash.com/photo-1520188740392-665a13f453fc?w=1600); */
    background-image: url(https://images.unsplash.com/photo-1519501025264-65ba15a82390?w=1600);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    min-height: 100vh;
    font-family: Raleway, serif;
}

/* for start game */

svg {
    width: 80vw;
    position: fixed;
    top: 50vh;
    left: 50vw;
    max-width: 430px;
    transform: translateY(-50%) translateX(-50%);
    z-index: 2;
    filter: drop-shadow(0 0 40px rgba(0, 0, 0, 0.3));
}

svg > path {
    cursor: pointer;
    animation: blob 2s infinite forwards;
    transform-origin: 50% 50%;
}

mask > text {
    font-size: 30px;
}

@keyframes blob {
    25% {
        d: path(
            "M 90 210 C 90 180 110 160 130 160 C 160 160 180 140 200 130 C 230 120 270 100 290 140 C 310 170 340 100 360 140 C 370 160 390 180 390 210 C 390 240 380 290 350 280 C 330 270 300 280 280 290 C 260 300 230 300 220 290 C 200 270 160 310 140 280 C 130 260 90 240 90 210 "
        );
        transform: rotate(-5deg);
    }
    50% {
        d: path(
            "M 90 210 C 90 180 100 150 120 130 C 150 100 180 140 200 130 C 230 120 270 100 290 140 C 300 160 330 130 360 140 C 390 150 390 180 390 210 C 390 240 380 300 350 280 C 330 270 320 230 280 260 C 260 280 220 310 200 290 C 180 270 160 280 140 280 C 110 280 90 240 90 210"
        );
    }
    75% {
        d: path(
            "M 90 210 C 90 180 110 180 130 170 C 150 160 170 130 200 130 C 240 130 260 150 290 140 C 310 130 340 120 360 140 C 380 160 390 180 390 210 C 390 240 380 260 350 270 C 320 280 290 270 270 260 C 240 250 230 280 210 290 C 180 310 130 300 110 280 C 90 260 90 240 90 210"
        );
        transform: rotate(5deg);
    }
}

.card {
    cursor: pointer;
}

#myInput {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
}

#myUL li a:hover:not(.header) {
    background-color: #eee;
}


/* Style for side navbar */

.sidenav {
    color: white;
    height: 110%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #24252A;
    overflow-x: hidden;
    padding-top: 20px;
    opacity: 0.8;
}
.sidestocks {
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.main {
    margin-left: 320px;
    font-size: 18px;
    padding: 0px 10px;
}

.loginDiv {
    margin-left: 230px;
    margin-top: 240px;
    font-size: 18px;
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/* Style for modal popup box -*/

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFE4B5;
    padding: 1rem 1.5rem;
    width: 48rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* Login styling */
h1,
p,
button {
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    /* width: 100px; */
    /* color: #fff; */
}

h1 {
    /* letter-spacing: 0.5em; */
    text-align: center;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    /* padding: 50px; */
    line-height: 1.6em;
}

p {
    font-size: 1.1em;
    text-align: center;
    margin: 110px auto 20px;
    /* letter-spacing: 0.05em; */
}

.month-btns > .button {
    margin-top: 10px;
}

/* for styling easy medium hard buttons */

.loginDiv > button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    background: #fff;
    border-radius: 999px;
    color: black;
    
  }

  .loginDiv > button:hover {
    animation: burn 1000ms ease-out forwards;
  }

  .loginDiv > button::before {
    content: '';
    position: absolute;
    left: 40px;
    width: 100px;
    height: 40px;
    background: rgba(255, 230, 110, 1);
    border-radius: 100%;
    animation: flare 1000ms ease-out forwards;
  }

  .login > button::after {
    content: '';
    position: absolute;
    right: 40px;
    width: 100px;
    height: 40px;
    background: rgba(255, 230, 110, 1);
    border-radius: 100%;
    animation: flare 1000ms ease-out forwards;
  }
  
  @keyframes flare {
    100% {
      transform: translateY(-20px) scale(1.5);
      filter: blur(10px);
      opacity: 0;
    }
  }
  
  @keyframes burn {
    0% {
      color: rgba(255, 130, 110, 1);
      background: rgba(255, 230, 110, 1);
      box-shadow:
        0 0 5px 0 rgba(200, 0, 10, 1),
        0 0 5px 0 rgba(230, 30, 10, 0.8),
        0 0 5px 0 rgba(230, 230, 10, 0.6);
    }
    
    100% {
      color: rgba(0, 0, 0, 1);
      background: rgba(255, 255, 255, 1);
      box-shadow:
        0 -35px 40px 30px rgba(255, 130, 10, 0),
        0 -30px 30px 10px rgba(230, 30, 10, 0),
        0 -20px 10px 0 rgba(255, 255, 10, 0);
    }
  }